.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.body {
  margin: 0;
  padding: 0;
  background-image: url('/frontend/public/Constellations-hero.jpg');
  background-size: cover; /* Cubre todo el contenedor manteniendo la proporción de aspecto */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  height: 100vh; /* Ajusta la altura al 100% del viewport */
}